<%- include('../../partials/header') %>

<section class="content-block-register">
  <div class="login-form-container">
    <% if (error) { %>
    <div class="alert alert-danger error-message"><%= error %></div>
    <% } %> <% if (message) { %>
    <div class="alert alert-success success-message"><%= message %></div>
    <% } %>

    <form action="/auth/forgot-password" method="POST" class="login-form">
      <div class="form-group">
        <label for="email">Enter your email</label>
        <input type="email" name="email" required />
      </div>

      <div class="form-group-btn">
        <button type="submit">Send Reset Link</button>
      </div>
    </form>

    <p>Remembered your password? <a href="/auth/local">Login here</a></p>
  </div>
</section>

<%- include('../../partials/footer') %>
