<%- include('../../partials/header') %>

<section class="content-block-register">
  <div class="login-form-container">
    <% if (error) { %>
    <div class="alert alert-danger error-message"><%= error %></div>
    <% } %>

    <form
      action="/auth/reset-password/<%= token %>"
      class="login-form"
      method="POST"
    >
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="form-group-btn">
        <button type="submit">Reset Password</button>
      </div>
    </form>

    <p>Remembered your password? <a href="/auth/local">Login here</a></p>
  </div>
</section>

<%- include('../../partials/footer') %>
