<!-- views/partials/header.ejs -->
<!DOCTYPE html>
<html
  prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title><%= page.title %></title>

    <script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/lib/underscore.js"></script>
    <script type="text/javascript" src="/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="/lib/jsv.js"></script>
    <script type="text/javascript" src="/lib/jsonform.js"></script>

    <link href="/css/water.css" rel="stylesheet" />
    <link href="/css/glyphicon.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/odifavicon32.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="contentOverlay" class="overlay">
      <div
        id="overlay-content"
        class="overlay-content"
        style="width: 90%; margin: auto; margin-top: 20px; max-height: 90vh"
      >
        <span
          class="close-btn"
          onclick="closeOverlay()"
          style="right: 40px; top: 20px; font-size: 3rem; font-weight: normal"
          >&times;</span
        >
        <div
          id="overlay-content-inner"
          style="overflow-y: scroll; min-width: 100%"
        ></div>
      </div>
    </div>
    <header class="header">
      <div class="header-container">
        <div class="header-content">
          <a href="/" class="logo">
            <img src="/images/header-logo.svg" alt="MetadataWorks Logo" />
          </a>
          <div class="header-right">
            <nav class="nav">
              <ul>
                <li><a href="https://metadataworks.ai/" class="nav-link">Home</a></li>
                <li><a href="https://metadataworks.ai/solutions" class="nav-link">Solutions</a></li>
                <li>
                  <a href="https://metadataworks.ai/case-studies" class="nav-link">Case Studies</a>
                </li>
                <li><a href="https://metadataworks.ai/contact" class="nav-link">Contact</a></li>
                <li><a href="https://metadataworks.ai/insights" class="nav-link">Insights</a></li>
                <li><a href="/projects" class="nav-link">Data Maturity Assessments</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
              </ul>
            </nav>

            <a href="/demo" class="demo-button">Get a Demo</a>
          </div>
        </div>
      </div>
      <!-- Start of HubSpot Embed Code -->
       <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/49501356.js"></script>
       <!-- End of HubSpot Embed Code -->
    </header>
  </body>
</html>
