
<%- include('../../partials/header') %>
<link rel="stylesheet" href="/css/progress_pie_compiled.css"/>
<link rel="stylesheet" href="/css/project.css"/>
<% if(pathway) { %>
    <script src="/js/pathway.js" type="text/javascript"></script>
<% } else { %>
    <script src="/js/project2.js" type="text/javascript"></script>
    <script src="/js/edit-project.js" type="text/javascript"></script>
<% } %>

<section class="white project">
    <button class="nav-toggle" onclick="toggleNav()">&#8592;</button> <!-- Initially left arrow -->

    <nav>
        <ul id="navList">
            <!-- Dynamically populated -->
        </ul>
    </nav>

    <section id="assessment-container">
        <% if(pathway) { %>
            <section id="readOnly">
                <div class="alert">This assessment model (Open Data Pathway) is deprecated and all data is read-only. No changes made will be saved.</div>
            </section>
        <% } %>
        <section id="metadata">
            <h2>Project metadata</h2>
            <div id="res" class="alert"></div>
            <form id="dataForm"></form>
        </section>
    </section>

</section>
<%- include('../../partials/footer') %>