<%- include('../../partials/header') %>
<link rel="stylesheet" href="/css/progress_pie_compiled.css"/>
<link rel="stylesheet" href="/css/project.css"/>
<script src="/js/project2.js" type="text/javascript"></script>
<script src="/js/report.js" type="text/javascript"></script>

<section class="white report-page">
    <button class="nav-toggle" onclick="toggleNav()">☰</button>
    <nav>
        <ul id="navList">
            <!-- Dynamically populated -->
        </ul>
    </nav>
    <section id="assessment-contriner" class="project-report">
        <h1>Maturity Report</h1>

        <!-- Project Metadata -->
        <subsection id="projectMetadata">
        </subsection>

        <!-- Overall Maturity Level -->
        <subsection id="overallProgress">
        </subsection>

        <subsection id="downloads">
            <h2>Downloads</h2>
            <button id="downloadJSON">Download project data (JSON)</button>
            <button id="downloadDOCX">Download project report (DOCX)</button>
        </subsection>

        <!-- Maturity Heatmap -->
        <h2>Maturity Heatmap</h2>
        <table id="report-table"></table>
    </section>
</section>

<%- include('../../partials/footer') %>
