# Server config
PORT=3080
HOST=http://localhost:{PORT}

OPENAI_API_KEY=your_openai_key

# Email config for sender
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-password

# Session Secret
SESSION_SECRET=your_session_secret

# MONGO DB config
MONGO_URI=mongodb://localhost:27017/database
MONGO_DB=database

# HubSpot KEY
HUBSPOT_API_KEY=your_hubspot_key

# Set the limit for the number of free projects
FREE_PROJECT_LIMIT=1