:root {
    --red: #dd1d1d;
    --orange: #ff6700;
    --green: #2fbc37;
    --lightblue: #178cff;
    --blue: var(--color-dark-blue);
    --grey: #ccc;
}
table {
    margin-bottom: 0;
}
.project,
.report-page {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.project table {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  table-layout: fixed; /* Ensures the table doesn't resize with content */
}
.project th,
.project td,
.project-report th,
.project-report td {
  border: none;
  padding: 8px;
  text-align: center;
  transition: width 0.5s ease; /* Smooth transition for width change */
  vertical-align: middle;
  background-color: var(--color-light-grey);
  border-right: 5px solid white;
}
.project th,
.project-report th {
    border-bottom: 5px solid white;
}

th {
  background-color: inherit;
}
.project .level,
.project-report .level {
    color: white;
}
.project-report .level-none {
    background-color: var(--color-light-grey);
    color: var(--color-dark-blue);
}
.project-report #overallProgress {
    text-align: center;
}
.project-report #overallProgress div {
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
th.level-1,
span.level-1,
div.level-1,
.questions-table td.level-1 {
    background-color: var(--red);
}
th.level-2,
span.level-2,
div.level-2,
.questions-table td.level-2 {
    background-color: var(--orange);
}
th.level-3,
span.level-3,
div.level-3,
.questions-table td.level-3 {
    background-color: var(--green);
}
th.level-4,
span.level-4,
div.level-4,
.questions-table td.level-4 {
    background-color: var(--lightblue);
}
th.level-5,
span.level-5,
div.level-5,
.questions-table td.level-5 {
    background-color: var(--blue);
}
.project tr,
.project-report tr {
    min-height: 60px;
    height: 60px;
}
.project tr th.level-1 {
    color: white;
    border-left: none;
    position: relative;
    width: 20%;
}
.project tr th.level-2, .project tr th.level-3, .project tr th.level-4, .project tr th.level-5  {
    color: white;
    border-left: none;
    position: relative;
    width: 20%;
}
.project tbody tr:nth-child(2n) {
    background-color: inherit;
}
.project tr:nth-child(n+2) td {
    position: relative;
    vertical-align: top;
}
.modal button,
.project td button {
    border: 2px solid var(--blue); /* Blue border */
    width: 100%; /* Make the button take the full width of the <td> */
    max-width: 60%; /* Set a maximum width for the button */
    padding: 1em; /* Padding inside the button */
    background-color: white !important; /* Button background color */
    color: var(--blue); /* Text color */
    font-size: 1em; /* Set font size */
    text-align: center; /* Center the text */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project td .button-container {
    position: relative;
}
.modal button,
.project td button.true-button,
.project td button.false-button {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    width: auto;
    margin: 5px;
}

.statement-container:hover .true-button,
.statement-container:hover .false-button {
    display: inline-block;
}

.project td button:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}
.modal button.selected,
.project td button.selected {
    background-color: var(--blue) !important;
    color: white;
}
.modal button {
    border: 1px solid var(--color-dark-blue) !important;
}
.project td button:disabled, td.disabled button {
    color: #999; /* Set the text color to grey */
    background-color: #e0e0e0; /* Set a light grey background color */
    border-color: #bbb; /* Set a lighter grey border */
    cursor: not-allowed; /* Change the cursor to indicate the button is not clickable */
    opacity: 0.6; /* Make the button appear slightly faded */
    box-shadow: none; /* Remove any shadow for a flatter appearance */
}
.project button.green {
  background-color: var(--green) !important;
}
.project button.red {
  background-color: var(--red) !important;
}
.project button.grey {
  background-color: var(--grey) !important;
}
.disabled {
  color: #bbb !important;
  background-color: #e0e0e0 !important;
}
#assessment-container {
    flex-grow: 1;
    background-color: white;
    padding-left: 40px;
    padding-right: 20px;
}
.question-container {
  width: 90%;
  left: -1%;
  position: relative;
  padding: 3%;
  height: 100%;
  top: -8px;
}
.question-container textarea {
    width: 100%;
    border: 1px solid var(--grey);
    font-family: inherit;
    font-size: inherit;
    background-color: white !important;
    color: inherit !important;
}
.question-container.active.level-1 {
    border: 1px solid var(--red);
    border-top: none;
}
.question-container.active.level-2 {
    border: 1px solid var(--orange);
    border-top: none;
}
.question-container.active.level-3 {
    border: 1px solid var(--green);
    border-top: none;
}
.question-container.active.level-4 {
    border: 1px solid var(--lightblue);
    border-top: none;
}
.question-container.active.level-5 {
    border: 1px solid var(--blue);
    border-top: none;
}
.project nav,
.report-page nav {
    min-width: 250px;
    background-color: var(--color-light-grey);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.project .activity {
    display: none;
}
.project .activity.active {
    display: block;
}
.project nav ul,
.report-page nav ul {
    margin-top: 60px;
    list-style-type: none;
    padding: 0;
}
.project nav ul li ul li.active,
.report-page nav ul li ul li.active {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.project nav ul li,
.report-page nav ul li {
    margin-bottom: 10px;
}

.project nav ul li > ul,
.report-page nav ul li > ul {
    list-style-type: none;
    margin-top: 5px;
    padding-left: 15px;
}

.project nav ul li > ul li,
.project nav ul li#nav-metadata,
.report-page nav ul li > ul li,
.report-page nav ul li#nav-metadata {
    cursor: pointer;
    color: var(--blue);
    margin-bottom: 5px;
}

.project nav ul li > ul li:hover,
.project nav ul li#nav-metadata span:hover
.report-page nav ul li > ul li:hover,
.report-page nav ul li#nav-metadata span:hover
{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.project nav .content,
.report-page nav .content {
    flex-grow: 1;
    padding: 20px;
}

.project .nav-toggle,
.report-page .nav-toggle {
    position: absolute;
    left: 0px;
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1100;
    max-height: 100px;
}

.project nav.shrunk,
.report-page nav.shrunk {
    position: fixed;
    top: 110px;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 1000;
}

@media (max-width: 1024px) {
    .project {
        flex-direction: column;
    }

    .project nav,
    .report-page nav  {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
        z-index: 1000;
    }

    #assessment-container {
        padding-top: 60px; /* Enough padding to avoid the nav toggle button overlapping */
    }
}
.statement-container {
    position: relative;
    margin: 10px;
}
.statement-bubble {
    padding: 10px 15px;
    background-color: #f0f0f0;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
}

.statement-bubble.positive-true.true-selected {
    background-color: #ceeed5;
}
.statement-bubble.positive-false.true-selected {
    background-color: #facdd1;
}
.statement-bubble.positive-true.false-selected {
    background-color: #facdd1;
}
.statement-bubble.positive-false.false-selected {
    background-color: #ceeed5;
}
.statement-bubble.true-selected .true-button{
    background-color: var(--blue) !important;
    color: white;
}
.statement-bubble.false-selected .false-button {
    background-color: var(--blue) !important;
    color: white;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.modal-content h2 {
    margin-top: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-group {
    justify-content: space-between;
    margin: 20px 0;
}

#modal-notes {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

.notes-icon {
    margin-left: 5px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    cursor: pointer;
    position: absolute;
    right: 27px;
    bottom: 25%;
}
.progress-pie, .progress-pie-unicorn {
    width: 30px;
    height: 30px;
}

.progress-pie.transparent::after, .progress-pie-unicorn::after {
    background: transparent;
    font: 600 18px/20px sans-serif;
    color: var(--green);
}
.progress-pie.complete::after {
    content: '✔'; /* HTML tick mark */
    color: var(--green);
}
.progress-pie.hidden {
    background-image: none;
}
/* Style for the dimension items */
.nav-dimension-item {
    margin-bottom: 1em;
}

/* Style for dimension and activity titles */
.dimension-title {
    display: inline-block;
    width: 100%; /* Adjust as needed */
    vertical-align: middle;
    font-weight: bold;
}
.activity-title, .overall-progress-title {
    display: inline-block;
    width: 70%; /* Adjust as needed */
    vertical-align: middle;
}
.report-page nav .activity-title {
    width: 100%;
}
.report-page nav {
    position: sticky;
    max-height: 100vh; /* Ensure it doesn’t overflow the viewport height */
    overflow-y: auto; /* Allow scrolling within the nav if it’s too tall */
    align-self: flex-start;
    top: 0;
}

/* Style for progress pie charts */
.progress-pie {
    display: inline-block;
    vertical-align: middle;
}

/* Ensures that progress pies stack under each other */
.nav-activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

#navList {
    list-style-type: none; /* Remove default list styles */
    padding-left: 0;
    max-width: 250px;
}

#navList li ul {
    list-style-type: none;
    padding-left: 1em; /* Indent sub-items */
}

#navList li ul li {
    padding: 0.5em 0; /* Add some space between items */
}
#metadata {
    display: none;
}
#metadata.active {
    display: block;
}
.project-report {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.project-report table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.project-report tbody tr:nth-child(2n) {
    background-color: inherit;
}
.project-report table .dimensions {
    width: 35%;
}
.project-report table .level {
    width: 13%;
}
.project-report table .dimension-name {
    width: 35%;
    text-align: left;
}
section.dimension-details {
    border-top: 1px solid var(--color-dark-blue);
    margin-top: 3em;
}
.project-report table .activity-name {
    text-align: left;
    padding-left: 3em;
}
.project-report td button.toggle-activities {
    border: none;
    width: auto;
    max-width: 10%;
    height: auto;
    padding: 1em;
    background-color: transparent !important;
    color: inherit;
    font-size: 1.2em;
    text-align: center;
    box-shadow: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}
.project-report table .dimension-row {
    border-top: 5px solid white;
}
.project-report table .dimension-row .dimension-name span {
    font-size: 1.3em;
}
.dimension-heatmap, .activity-heatmap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
span.level {
    padding: 1em;
}
.project-report .activity-details {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px dashed var(--color-dark-blue);
    padding: 1em;
    padding-top: 0em;
    margin-top: 2em;
}
.project-report .questions-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /* Ensures borders don't double up */
}

.project-report .questions-table th,
.project-report .questions-table td {
    border: 1px solid var(--blue); /* Apply blue border to all cells */
    padding: 8px; /* Optional: adds padding to cells for better readability */
}
.project-report .activity-details h4 {
    text-align: center;
}
.project-report .title-level-container {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically in the center */
    width: 100%; /* Ensures the container takes the full width of its parent */
    margin-bottom: 1em; /* Adds some space below the container */
}

.project-report .title-level-container .dimension-title,
.project-report .title-level-container .activity-title {
    flex: 1; /* Takes up available space on the left */
    text-align: left; /* Aligns text to the left */
    margin: 0; /* Removes default margin */
    margin-top: 2em;
}

.project-report .title-level-container .dimension-level,
.project-report .title-level-container .activity-level {
    flex: 1; /* Takes up available space on the right */
    text-align: right; /* Aligns text to the right */
    margin: 0; /* Removes default margin */
    margin-top: 2em;
}
.project-report .metadata-table {
    width: auto;
    margin-left: 0;
}
.project-report .metadata-table td {
    text-align: left;
    background-color: transparent;
    padding-right: 1em;
}
.project-report .metadata-table tr {
    height: 30px;
    max-height: 30px;
}
.project-report .metadata-table tr td:first-child {
    font-weight: bold;
}
table td.level-progress {
    color: white;
    font-size: 1.2em;
}
.questions-table .question-progress {
    font-size: 1.4em;
}
.questions-table .question-answer {
    font-size: 0.8em;
}