<%- include('../partials/header') %>
<section class="content-block light-grey home-top">
    <input type="hidden" value="<%= page.link %>" id="pageId"/>
    <div>
        <h1>Welcome to the ODI Maturity Assessment Tool</h1>
        <p>
            The ODI Maturity Assessment Tool is designed to help organisations evaluate their data maturity across multiple domains. Whether you're focusing on open data, data ethics, or data practices, our assessments provide a structured approach to understanding your current capabilities, identifying areas for improvement, and tracking your progress over time.
        </p>
        <p>
            With interactive assessments, detailed reports, and actionable insights, this tool is an essential resource for organisations looking to enhance their data management and utilisation strategies.
        </p>
    </div>
    <img src="/images/steps.png" alt="Maturity steps" style="display: none;"/>
</section>

<section class="content-block light-grey">
    <div class="assessment-grid">
        <div class="assessment-item">
            <img src="/images/open-data-maturity.png" alt="Open Data Maturity Model" class="assessment-image"/>
            <h3>Open Data Maturity Model</h3>
            <p>
                Assess how well your organisation publishes and consumes open data. The model is structured around five themes and five progress levels, offering a comprehensive framework to evaluate your open data practices and identify key areas for improvement.
            </p>
        </div>
        <div class="assessment-item">
            <img src="/images/data-ethics-maturity.png" alt="Data Ethics Maturity Model" class="assessment-image"/>
            <h3>Data Ethics Maturity Model (Coming Soon)</h3>
            <p>
              The Data Ethics Maturity Model is a tool for anyone who collects, uses and shares data. It helps assess and benchmark how widely embedded data ethics culture and practices are across your organisation.
            </p>
        </div>
        <div class="assessment-item">
            <img src="/images/data-practices-maturity.png" alt="Data Practices Maturity Assessment" class="assessment-image"/>
            <h3>Data Practices Maturity Assessment</h3>
            <p>
              The Data Practices Maturity Assessment offers a comprehensive framework designed to establish and showcase an organisation's trustworthiness in its data practices—whether it's creating, using, or sharing data. This tool also enhances the dialogue between technical teams and strategic leadership, ensuring that all data practices are fully aligned with organisational objectives and ethical standards.
          </p>
        </div>
    </div>
</section>

<section class="content-block light-grey">
    <h1>How to Use the Tool</h1>
    <p>To use the tool, you will first need to create an <a href="https://theodi.org/account/register/" target="_blank">ODI Account</a>.</p>
    <p>Once registered, you can <a href="/auth/django">log in</a> and start your assessment.</p>
    <p>Free accounts are limited to one assessment, but becoming a <a href="https://theodi.org/membership/" target="_blank">member of the ODI</a> removes this limitation, giving you full access to all assessments.</p>
</section>

<%- include('../partials/footer') %>
<%- include('../partials/footer-home') %>
