
<%- include('../partials/header') %>
<link rel="stylesheet" href="/css/project.css"/>
<script src="/js/project.js" type="text/javascript"></script>
<section class="light-blue project">
    <button class="nav-toggle" onclick="toggleNav()">☰</button>
    <nav>
        <ul id="navList">
            <!-- Dynamically populated -->
        </ul>
    </nav>
    <section id="assessment-container">

    </section>
</section>
<%- include('../partials/footer') %>